/* i.fa {
    display: inline-block;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    background-color: rgb(27, 187, 80);
    font-size: 10pt;
    color: white;
  
  } */
  body{
    padding-bottom: 30px;
  }
  .simpleCircle [class*="fa fa-"] {
    
    background-color: rgb(25, 160, 43);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height:25px;
    line-height: 25px;
    margin: auto 3px;
    width: 25px;
    font-size: 15px;
    text-align: center;
}

/* Tailwind toggle */
.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
  }
  
  input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #2b6cb0;
  }

  .toggle-checkbox:checked {
    
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
   
    background-color: #68D391;
  }
  .mt-7{
    margin-top: 80px;
  }


  #header-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #header-container-agent{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header{
    width: 100%;
    height: 150px;
    z-index: -1;
  }
  


  .tabs li.active{
    background-color:white;
    color: #2b6cb0;
    font-weight: 500;
  }
  .tabs li.active:hover{
    background-color:white !important;
    color: #264770;
  }
  .tabs li:hover{
    background-color: #264770;
  }
  /* .container{
    margin-left: 100px !important;
    margin-right: 100px !important;
  } */


  nav a.active{
    background-color: #1A202C;
  }
  

  .circle {
    width: 50px;
    height: 50px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #000
  }
  .tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
  }
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
/* tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
} */
