<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
    
</head>
    <body>
        <div class="backg"></div>
    <div class="container mx-auto pt-5">
        <nav class="rounded font-sans w-full my-4 text-white">
            <ol class="list-reset flex text-grey-dark">
                <li><a href="/" class="text-blue font-bold">Agents</a></li>
                <li><span class="mx-2">/</span></li>
                
                <li>Commission code here</li> 
            </ol>
        </nav>
    </div> 
    <div class="container mx-auto pt-5">
        <section>
        <h2 class="text-3xl mt-7 mb-3">Agent</h2>
          <div class=" grid grid-cols-4">
            <div class="max-w-sm rounded overflow-hidden shadow-md mr-5">
              <div class="bg-blue-100 w-full h-2"></div>
              <div></div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Agent 1</div>
                <p>Wesley Cenatus</p>
                <p class="mt-3">Rate:</p>
                <p>0.50</p>
              </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-md mr-5">
              <div class="bg-blue-600 w-full h-2"></div>
              <div></div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Agent 2</div>
                <p>Wesley Cenatus</p>
                <p class="mt-3">Rate:</p>
                <p>0.50</p>
              </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-md mr-5">
              <div class="bg-blue-100 w-full h-2"></div>
              <div></div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Agent 3</div>
                <p>Wesley Cenatus</p>
                <p class="mt-3">Rate:</p>
                <p>0.50</p>
              </div>
            </div>
            
            <div class="max-w-sm rounded overflow-hidden shadow-md">
              <div class="bg-blue-100 w-full h-2"></div>
              <div></div>
              <div class="px-6 py-4">
                <div class="text-center bg-gray-50 text-sm text-blue-600"><a href="#" class=""><i class="fas fa-plus-circle "></i> Add Agent and rate</a></div>
              </div>
            </div>
          </div>
        </section>
    </div>
    </body>
</html>