<%- include('../partials/header') %>
<div class="header bg-indigo-500">
  <div id="header-container" class="container mx-auto">
    <p class="text-5xl text-white text-bottom"><strong><%= data.name %></strong></p>
  </div>
</div>
<div class="w-100 h-10 bg-indigo-800">
  <div class="container mx-auto">
    <ul class='tabs flex cursor-pointer'>
      <li class='text-white py-2 px-6 active'><a>Edit</a></li>
    </ul>
  </div>

</div>


<div class="container mx-auto mt-6 ">
  <div id="schedulea" class="container mx-auto mt-4">

    <a id="form2-button"
      class="text-base mb-2 mt-5 px-2 py-2 rounded font-bold cursor-pointer text-blue-700">
      <p><i class="fas fa-plus pr-2"></i>Add schedule element</p>
    </a>
    <a id="form2-hide"
      class="text-base mb-2 mt-5 px-2 py-2 rounded font-bold cursor-pointer text-blue-700">
      <p><i class="fas fa-minus pr-2"></i>Hide form</p>
    </a>

    <div id="form2" class="container rounded bg-gray-200 py-4 px-4 mb-3">
      <form id="addcomponent">
        <div class="grid grid-cols-7 form gap-4">

          <div class="pt-0 form-textfield" >
            <input id="category-input" type="text" placeholder="New Category"
              class="px-3 py-3 border-solid border-2 border-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
          </div>
          <div class="form-dropdown pt-0">
            <select type="text"
              class=" px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full">
                <option disabled selected>Select Category</option>
                <option>Monthly Fees</option>
                <option>Other Fees</option>
                <option>Monthly Fees</option>
              </optgroup>
                <option>Add Category</option>
              </optgroup>
            </select>
          </div>

          <div class="pt-0 form-textfield" id="">
            <input type="text" placeholder="New Component"
              class="px-3 py-3 border-solid border-2 border-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
          </div>
          <div class="form-dropdown pt-0">
            <select type="text" placeholder="Enter Component Name" 
              class=" px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full">
              <option value="" disabled selected>Component</option>
              <option>Monthly Service Fee</option>
              <option>Regular Monthly Fee</option>
              <option>Regulatory Bundle Monthly Fee</option>
            </select>
          </div>


          <div class=" pt-0">
            <input type="text" placeholder="Buy Rate"
              class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
          </div>
          <div class=" pt-0">
            <input type="text" placeholder="Revenue Rate"
              class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
          </div>
          <div class=" pt-0">
            <input type="text" placeholder="Max Rate"
              class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
          </div>
          <div class=" pt-0">
            <label class="inline-flex items-center mt-3">
              <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-600" checked><span
                class="ml-2 text-gray-700">Passthrough</span>
            </label>
          </div>
          <div class=" pt-0">
            <a id="form2-save" class="text-sm w-32 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                            hover:bg-blue-700 hover:text-blue-100 
                            bg-blue-100 
                            text-blue-700 
                            border duration-400 ease-in-out 
                            border-blue-600 transition mt-1"> Add</a>
          </div>
      </form>

    </div>
  </div>

  <!-- Monthly Fees table -->
  <h1 class="text-2xl pl-6 mb-2">Monthly Fees</h1>
  <table class=" min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Component</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Buy Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Revenue Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Max Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Passthrough</th>
        <th></th>
      </tr>
    </thead>
    <tbody>


      <tr id="componentform">
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <select type="text" placeholder="Enter Component Name"
            class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full">
            <option>Monthly Service Fee</option>
            <option>Regular Monthly Fee</option>
            <option>Regulatory Bundle Monthly Fee</option>
          </select>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <input type="text" placeholder="Enter Buy Rate" value="5.00"
            class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
        </td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <input type="text" placeholder="Enter Revenue Rate" value="0.5"
            class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
        </td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <input type="text" placeholder="Enter Max Rate" value="0"
            class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
        </td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-600"><span
              class="ml-2 text-gray-700">Passthrough</span>
          </label>
        </td>
        <td>
          <a id="savecomponent-btn" class="text-base w-32 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                     hover:bg-green-700 hover:text-green-100 
                     bg-green-100 
                     text-green-700 
                     border duration-400 ease-in-out 
                     border-green-600 transition "> Save</a>
        </td>
      </tr>

      <tr id="MSFrow1">
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Monthly Service Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$5</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">
          <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer" id="edit1">Edit</a></td>
      </tr>

      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regular Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$2.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

      <tr id="form2-testrow">
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regulatory Bundle Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-minus-circle text-red-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

    </tbody>
  </table>
  <!-- Other Fees Table -->
  <h1 class="text-2xl pl-6 mb-2 mt-4">Other Fees</h1>
  <table class=" min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Component</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Buy Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Revenue Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Max Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Passthrough</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Monthly Service Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$5</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regular Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$2.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regulatory Bundle Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-minus-circle text-red-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>
    </tbody>
  </table>

  <!-- Processing Fee Table -->
  <h1 class="text-2xl pl-6 mb-2 mt-4">Processing Fees</h1>
  <table class=" min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Component</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Buy Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Revenue Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Max Rate</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
          Passthrough</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Monthly Service Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$5</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regular Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$2.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0.5%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$29.99</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-check text-green-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">Regulatory Bundle Monthly Fee</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">0%</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 ">$0</td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><i class="fas fa-minus-circle text-red-500"></i></td>
        <td class="px-6 py-4 whitespace-no-wrap text-base leading-5 text-gray-800 "><a
            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Edit</a></td>
      </tr>

    </tbody>
  </table>
</div>


</div>

<script>

  $('.form-textfield').hide()
  $('#form2').hide()
  $('#form2-hide').hide()
  $('#componentform').hide()

  $('.form-dropdown').on('change',function(e){
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    console.log(optionSelected[0].innerText)
    if(optionSelected[0].text === "Add Category"){
      $('.form-dropdown').hide()
      $('.form-textfield').toggle()
      $('#category-input').focus()

    }
   
  })
  

  $('#edit1').click(function(){
    $('#MSFrow1, #componentform').toggle()
  })
  $('#savecomponent-btn').click(function(){
    $('#MSFrow1, #componentform').toggle()
  })

  $('#form2-hide').click(function(){
    $('#form2-hide, #form2-button, #form2').toggle()
  })
  $('#form2-button, #form2-save').click(function () {
    $('#form2-hide, #form2-button, #form2').toggle()
  })

  // $('#form2-testrow').hide()
  $('#form2-save').click(function () {
    $('#form2-testrow').toggle("highlight");
  })


  $('#componentform').hide()
  $("#addcomponent-btn").click(function () {
    $('#componentrow').toggle()
    $('#componentform').toggle()
  })

</script>