<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7d89c1ce52.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
    
</head>
    <body>
      <%- include('../partials/navbar') %>
        <div class="header bg-purple-500">
          <div id="header-container" class="container mx-auto">
            <p class="text-5xl text-white text-bottom"><strong><%= data.name %></strong></p>
          </div>
        </div>
        <div class="w-100 h-10 bg-purple-800">
          <div class="container mx-auto">
            <ul class='tabs flex cursor-pointer'>
                  <li class='text-white py-2 px-6 active'><a>Details</a></li>
              </ul>
          </div>
              
        </div>
          
        <div class="container mx-auto mt-4 ">
            
        </div>
    </body>
</html>